@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --main-content-width: calc(100vw - 400px);
    margin: 0;
    @apply bg-zinc-50;
  }

  .parking-space {
    height: 100%;
    width: var(--main-content-width);
  }
}
